NODE_ENV=development
HOST="0.0.0.0"
PORT=5002
CORS_ORIGINS="http://localhost:3000"

JWT_SECRET="replace-with-a-long-random-secret-at-least-32-chars"
JWT_ISSUER="brasa-restaurant"

POSTGRES_DATABASE_URL="postgresql://brasa:brasa@localhost:5433/brasa"
